@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import "tailwindcss";

@theme {
    --font-shareTech: "Share Tech", sans-serif;
    --animate-modal-fade: modal-fade 0.5s ease-in forwards;
    --breakpoint-special: 70.875rem;

    @keyframes modal-fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}